/*
    #0B0C10 - Dark Grey
    #1F2833 - Navy-Grey
    #C5C6C7 - Grey
    #66FCF1 - Light Blue
    #45A29E - Blue
*/
a{
    color:inherit;
    text-decoration: inherit
}
html {
    /* this is just the background of the whole site*/
    background-image:url("assets/background.png")
}
p {
    color: #C5C6C7;
}
h1 {
    color: #66FCF1;
    font-size: 80px;
    margin:0;
    /*font-family:'Bungee';*/
}
h2 {
    color: #45A29E;
}
h3 {
    color: #66FCF1;
}
h4 {
    color: #45A29E;
}
#navbar {
    float: right;
    width: 30%;
    height: 100%;
    margin-top:0;
    margin-bottom:0;

}
#content {
    float: right;
    width: 70%;
    overflow: auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.card{
    transition:transform .2s;
    display:inline-block;
    padding:1px;
    margin-top: 5px;
    background-color: rgba(31, 40, 51, 0.75);
    width:250px;
    max-width:250px;
    height:200px;
    max-height:200px;
}
.card:hover{
    transform:scale(1.1);
}
